html
body,
#__next,
#__next > div {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.pearl-container {
  background: radial-gradient(100% 86.21% at 0% 13.79%, #006D75 0%, #00474F 50.52%, #22075E 100%);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.select-time-container .ant-space-item:nth-child(3) {
  flex: 1;
}